<main class="col-md-12  col-lg-12 px-md-4">
    <div class="container py-4">
      <header class="pb-3 mb-4 border-bottom">
          <span class="fs-4">blog do Alberto </span>
      </header>
  
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Um pouco de tudo!</h1>
          <p class="col-md-8 fs-4">Aqui vou postar minhas pesquisas, experimentos e estudos passo a passo.</p>
          <p class="col-md-8 fs-6">A idéia deste blog é manter um repositório dos meus testes e estudos para pesquisas quando necessário e porque não compartilhar com amigos!</p>  
        </div>
      </div>
    </div>
  </main>