<div class="blog-post">
    <h2 class="blog-post-title">A base de tudo</h2>
    <p class="blog-post-meta">Escrito por <a href="#">Alberto</a>, em 1 de Janeiro de 2022.</p>

    <p>Este primeiro post começo falando sobre a infraestrutura DNS. Decidi utilizar a AWS solução para resolução de nomes pois todo o projeto está sobre a nuvem AWS e terei muitos ganhos com os recursos avançados do Route53. Além também de manter todo o gerenciamento centralizado.</p>
    <hr>
    <h2>Base da infraestrutura</h2>
    <p>Onde quero chegar na construção dessa infraestrutura.</p>
    <h4>Construindo meu nome na internet</h4>
    <p>Primeiro passo é definir um nome que representa o projeto e pesquisar sobre a disponibilidade, para isso existem diversas ferramentas que podem te auxiliar, meu caso resolvi utilizar o registrobr.</p>
    <p>Basta acessar o site "https://registro.br/", a primeira opção que deve aparecer é "PESQUISAR DOMÍNIO", após pesquisar a disponibilidade do nome escolhido deve definir a categoria:</p>
    <ul>
        <li>Atividades comerciais: <b>com.br</b></li>
        <li>Tecnologia: <b>tec.br</b></li>
        <li>Blogs: <b>blog.com</b></li>
      </ul>
    
    <p>Estes são alguns exemplos, existem diversos, abuse da criatividade!</p>
    <p>Com esses tópicos definidos, é seguir o passo a passo para finalizar o seu registro.</p>
    <p><em>Importante lembrar ao leitor que para ter o registro válido na internet existe uma taxa que precisa ser paga.</em></p>
    <h4>AWS Route53</h4>
    <p>Com o nome definido o próximo passo é criar um servidor de nomes "DNS".</p>
    <p>Este servidor vai guardar todas as configurações e apontamentos para o nome registrado. Ele vai dizer onde está o web-site, o servidor de e-mail, ou qualquer outro recurso do projeto.</p>
    <ol>
      <li>Vestibulum id ligula porta felis euismod semper.</li>
      <li>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</li>
      <li>Maecenas sed diam eget risus varius blandit sit amet non magna.</li>
    </ol>
    <p>Cras mattis consectetur purus sit amet fermentum. Sed posuere consectetur est at lobortis.</p>

    <pre><code>Example code block</code></pre>
  </div><!-- /.blog-post -->
